body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none!important;
  color: #313131
}

.app-container {
  display: flex;
}

.navbar-container {
  width: 360px;
  min-height: 100vh;
  border-right: solid 1px #c4c4c4;
}

.button-container {
  display: flex;
  height: 60px;
  width: 359px;
  align-items: center;
}

.title-bar-container {
  background-color: #323232;
  height: 80px;
}

.title-bar {
  display: flex;
  align-items: baseline;
}

.canopy-text {
  color: #bfe497;
  font-size: 48px;
  font-weight: bolder;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.ai-text {
  color: #97b774;
  font-size: 36px;
  font-weight: bold;
  margin-left: 20px;
}

.player {
  position: absolute;
}

.canvas {
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.player-canvas {
  position: relative;
  margin-top: 40px;
  margin-left: 40px;
}

.livestream-controls {
  display: flex;
}

.roi-button {
  margin-top: 45px;
  margin-left: 35px;
}
